<div>

  <!-- Example of Interpolation -->
  <h1>
    {{appName}}
  </h1>


  <div>
    <label>User Name :- </label>
    <!-- two way binding (we want to import FormModule) -->
    <input (keypress) = "validate()" [(ngModel)]="userName" />

    <br>

    <label>Phone Number :- </label>
    <!-- two way binding   (we want to import FormModule)-->
    <input (keypress) = "validate()" [(ngModel)]="phoneNumber" />
  </div>

  <!-- property binding ("disabled" is a property of html button)  -->
  <!-- (click) = "addUser()" this is event binding   -->
  <button (click)="addUser()" [disabled]="buttonDisable">Add User</button>



   <!-- for loop -->
   <ul *ngFor="let person of users">
    <li>{{ person.name }}</li>
    <li>{{ person.phoneNo }}</li>
  </ul>

</div>