<div>

  <!-- Example of Interpolation -->
  <h1 style="text-align: center;">
    {{appName}}
  </h1>


  <div>
    <label for="fname">User Name :- </label>
    <!-- two way binding (we want to import FormModule) -->
    <input type="text" (keypress) = "validate()" [(ngModel)]="userName" />

    <br>

    <label for="fname">Phone Number :- </label>
    <!-- two way binding   (we want to import FormModule)-->
    <input type="text" (keypress) = "validate()" [(ngModel)]="phoneNumber" />
  </div>

  <!-- property binding ("disabled" is a property of html button)  -->
  <!-- (click) = "addUser()" this is event binding   -->
  <button (click)="addUser()" [disabled]="buttonDisable">Add User</button>



   <!-- for loop -->

   <!-- <ul *ngFor="let person of users">
    <li>{{ person.name }}</li>
    <li>{{ person.phoneNo }}</li>
  </ul> -->

</div>
  <!-- property binding with other compoent  -->
  <app-first-component [userDetails] = "users"></app-first-component>

